APP_ENV=dev
LOG_LEVEL=INFO

ORACLE_USER=your_oracle_user
ORACLE_PASSWORD=your_oracle_password
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=ORCLPDB1
ORACLE_TABLES=PS_PERSONAL_DATA,PS_JOB

MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=DDTMdbDemo
MONGO_COLLECTIONS=employees,departments

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=pfe_data_ia
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SCHEMA=staging
POSTGRES_TARGET_TABLE=raw_ingestion

RUN_ID=
